<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissões de rede e conectividade Wi-Fi -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Impede que a CPU e o rádio Wi-Fi entrem em repouso com tela apagada -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Permissões para execução de serviço em segundo plano (Android 13 e 14+) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="GTSTORE Cliente"
        android:supportsRtl="true"
        android:theme="@style/Theme.GTStoreClient"
        android:usesCleartextTraffic="true">

        <!-- Serviço de ponte de injeção em segundo plano -->
        <service
            android:name="com.gontijotech.gtstore.client.service.LocalBridgeService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">

            <!-- Obrigatório no Android 14+ quando foregroundServiceType é 'specialUse' -->
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Servidor HTTP local e ponte de injeção de dados para console na rede local" />
        </service>

        <!-- Ecrã principal e ponto de entrada no lançador de aplicações -->
        <activity
            android:name="com.gontijotech.gtstore.client.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
